.container {
    display: grid;
    grid-template-columns: 120px 200px;
    grid-gap: 5px;
    max-width: 400px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 50px;
    background-color: 'lightgray';
    z-index: -1;
}

.set_input {
    margin: 2px;
}